html {
  --color-info-text: #228be6;
  --color-info-container: rgba(34, 139, 230, 0.1);

  --color-warning-text: #fab005;
  --color-warning-container: rgba(250, 176, 5, 0.1);

  --color-error-text: #fa5252;
  --color-error-container: rgba(250, 82, 82, 0.1);
}