@use '@angular/material' as mat;

:host {
  display: block;

  .briefing-form {

    @include mat.progress-spinner-overrides((
      active-indicator-color: var(--mat-sys-on-primary),
    ));

    app-alert {
      width: 100%;
      
      margin-bottom: 10px;
    }

    .control {
      margin-bottom: 20px;

      .label {
        display: block;
        margin-bottom: 5px;
      }

      button {
        mat-spinner {
          margin: 0 auto;
        }
      }

      &.inline {
        display: flex;
        gap: 10px;
        align-items: center;

        .label {
          margin-bottom: 0;
        }
      }

      &.center {
        text-align: center;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}